@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import "header";
@import "footer";
@import "catalog-wrapper";
@import "main-wrapper";

* {
    transition: .5s ease-in-out;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}