<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kursa4 template</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul>
                <li class="navbar__item"><a class="active" href="#">Главная</a></li>
                <li class="navbar__item"><a href="catalog.html">Товары</a></li>
                <li class="navbar__item"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>

    <div class="main-wrapper">
        <div class="popular">
            <div class="popular__title">
                <span>THIS IS POPULAR TITLE</span>
            </div>
            <div class="popular__items">
                <div class="popular__item">
                    <div class="card">
                        1
                    </div>
                </div>
                <div class="popular__item">
                    <div class="card">
                        2
                    </div>
                </div>
                <div class="popular__item">
                    <div class="card">
                        3
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <span><a href="https://github.com/gymnasy55/awowed-course-work" target="_blank">&copy; MenLu Incorporated, 2021</a></span>
    </div>
</body>
</html>