<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kursa4 template</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <ul>
                <li class="navbar__item"><a class="active" href="#">Главная</a></li>
                <li class="navbar__item"><a href="#">Товары</a></li>
                <li class="navbar__item"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>

    <div class="wrapper">
        <main>main</main>
        <aside>
            <div class="widget">
                <div class="widget__title">Категории</div>
                <div class="widget__category-list">
                    <li><a href="#">Кольца</a></li>
                    <li><a href="#">Браслеты</a></li>
                    <li><a href="#">Серьги</a></li>
                </div>
            </div>

            <div class="widget">
                <div class="widget__title">Категории</div>
                <div class="widget__category-list">
                    <li><a href="#">Кольца</a></li>
                    <li><a href="#">Браслеты</a></li>
                    <li><a href="#">Серьги</a></li>
                </div>
            </div>
        </aside>
    </div>

    <div class="footer">
        <span><a href="https://github.com/gymnasy55" target="_blank">&copy; MenLu Incorporated, 2021</a></span>
    </div>
</body>
</html>