# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TestWebApi.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\polcr\source\repos\sirGAY\awowed-course-work\test-model\TestWebApi\.idea\.idea.TestWebApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
